#content {
	min-height: 300vh;
	padding-top: 5%;
}
#left {
	min-height: 100vh;
	padding-bottom: 5%;
}
#right {
	min-height: 100vh;
}
#logo {
	min-height: 10vh;
}
#atas {
	min-height: 7vh;
	font-size: 14pt;
	padding-left: 3%;
}
#bawah {
	min-height: 7vh;
	font-size: 14pt;
	padding-left: 3%;
}
#avatar {
	height: auto;
	width: 14vh;
}
#judul {
	padding-top: 2%;
	padding-bottom: 2%;
}