#icon-nav {
	width: 5%;
	height: auto;
	overflow: none;
}
#header-img {
	background-image: url('../img/head.jpg');
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 50%;
	z-index: 1;
}
.navbar {
	padding: 0;
	margin: 0;
	border-radius: 0;
}
#content {
	min-height: 300vh;
}
#search-div {
	padding-top: 11%;
	margin: 0 auto;

}
#box {
	height: 15%;
	width: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18pt;
}
#left {
	min-height: 100vh;
}
#right {
	min-height: 100vh;
}
#logo {
	min-height: 10vh;
}
#atas {
	min-height: 7vh;
	font-size: 14pt;
		padding-left: 3%;
}
#bawah {
	min-height: 7vh;
	font-size: 14pt;
	padding-left: 3%;
}
#avatar {
	height: auto;
	width: 14vh;
}