#logo {
	height: auto;
	width: 20%;
	margin: 0 auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5%;
	padding-bottom: 2%;
}
#arrow {
	height: auto;
	width: 4%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1%;
	padding-bottom: 2%;

}
#nav {
	margin: 0;
}
#atas {
	text-align: center;
	min-height: 100vh;
}
#kiri {
	padding: 0;
	min-height: 93vh;
	background-color: rgba(30,110,255,0.7);
}
#kanan {
	padding: 0;
	min-height: 93vh;
	background-color: rgba(0,255,0,0.7);
}
#bawah {
	padding: 0;
	min-height: 100vh;
}
#logoleft {
	height: 40vh;
	padding-top: 15%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#logoright {
	height: 40vh;
	padding-top: 15%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#motto {
	text-align: center;
	padding-top: 10%;
}
#deskripsi {
	text-align: center;
}
#desc-left {
	
}