
#back {
	min-height: 100vh;
}
#front {
	width: 30%;
	height: auto;
	margin: 0 auto;
	margin-top: 5%;
	position: relative;
	padding: 3%;
	margin-bottom: 5%;
	background-image: url("../pattern/register.png");
	background-color: rgba(0,255,0,0.1);
	border-radius: 2%;
	text-align: center;
}
#logo {
	width: 30%;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}